{{template "body" .}}

{{define "centralPart"}}
<div class="container custom-container">
  <div class="mt-3">
    <!-- Your existing forum table or content -->
    <table class="table-borderless forumTable whiteLink">
      <thead class="containerHead">
        {{$contentInfo := index .Data "content"}}
        {{$creatorName := index .Data "creatorName"}}

        <tr>
          <!-- Other table headers -->
          <td>
            <h3><strong>&nbsp;{{$creatorName}}</strong></h3>
          </td>
          <td>
          </td>
        </tr>
        
      </thead>
      <tbody>
        <!-- Rows for existing posts -->
        <!-- ... -->
      </tbody>
    </table>
  </div>

  <!-- Edit/Delete Section -->
  <div class="mt-4">
    <h3>Edit/Delete Your Post</h3>
      <div class="mt-3">
        <form method="POST" action="/edit_topic_result?topicID={{$contentInfo.ID}}">
          <div class="form-group">
            <label for="postContent">Your Topic Content:</label>
            <textarea class="form-control" name="post-text" id="postContent" rows="10">{{$contentInfo.Subject}}</textarea>
          </div>
          <br>
          <input type="hidden" name="topicID" value="{{$contentInfo.ID}}">
          <button class="btn btn-primary mr-2" type="submit">Edit</button>
        </form>
        </div>
      </div>
  </div>
</div>

{{end}}
