{{template "body" .}}

<style>
    .footerText {
        font-family: 'MedievalSharp', cursive;
    }

</style>

{{define "centralPart"}}
    <div class="footerText">
    <img src="static/logo/rulesPageWizard.png" alt="Forum Rules Image" style="width: 50%; max-width: 400px; display: block; margin: 0 auto;">
    
    <h1>Forum Rules</h1>

    <p>Welcome to our awesome forum! Here are the rules that keep our digital realm a fun and friendly place:</p>
    
    <ol>
        <li>Respect Others: We’re all friends here! Be nice, like you would at a unicorn tea party. No grumpy dragons allowed!</li>
        <li>Stay On Topic: Let's stick to the quest at hand! Don’t wander off to realms unknown; the treasure's right here!</li>
        <li>No Promotions or Spam: Magic potions and enchanted brooms aside, no selling stuff or casting spam spells, please!</li>
        <li>Use Appropriate Language: Keep it PG-13! Save the epic battles for your D&D quests, and keep our kingdom squeaky clean.</li>
        <li>Respect Privacy: No peeking into others' crystal balls! Protect personal info like a wizard guards their spellbook.</li>
        <li>Follow Admin Instructions: If the forum sorcerer waves their wand, heed their magical commands! They're the real Gandalfs around here.</li>
    </ol>
    
    <p>Remember, these rules are like spells that keep our community enchanting! Let's make this realm a place where trolls stay under bridges and joy roams free!</p>
</div>
{{end}}
