{{template "body" .}}

{{define "centralPart"}}
<div class="container custom-container">
    <table class="table-borderless forumTable whiteLink mt-3">
        <thead class="containerHead">
            <tr>
                <!-- modal starts -->
                <th class="forumFirstCol" scope="col">
                  <div class="d-flex justify-content-start align-items-center">
                    <button type="button" class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#createNewTopicModal">Create New Topic</button>
                  </div>
                  <div class="d-flex justify-content-center">
                    <h3>Created Topics</h3>
                  </div>
                </th>
                  <div class="modal fade text-bg-dark p-3" id="createNewTopicModal" tabindex="-1" aria-labelledby="createNewTopicModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="createNewTopicModalLabel">What this topic will be about?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form method="post" action="/home" enctype="multipart/form-data">
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Type your topic here:</label>
                              <textarea class="form-control" id="message-text" name="message-text"></textarea>
                            </div>

                            <div class="mb-3">
                              <label for="image" class="col-form-label">Image: (Max 20 MB), allowed formats jpeg, png, gif.</label>
                              <input type="file" class="form-control" name="image" id="image">
                          </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-light">Publish new topic</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- modal ends -->
                <th scope="col">Latest Message</th>
                <th scope="col">Total Messages</th>
            </tr>
        </thead>
        <tbody class="containerBody">
            {{$threadinfo := index .Data "threads"}}
            {{ range $threadinfo }}

              <tr>
                  <td>
                      <!-- 1column --> 
                      <a href="/theme?threadID={{ .ThreadID}}">
                          <img src="{{ .PictureUserWhoCreatedThread }}" class="logo_img" alt="/static/logo/message_icon2.png">
                          <br>Created by: {{ .UserNameWhoCreatedThread}}
                          <br>Topic created: {{ .Created}}
                          <br><strong>{{ .Subject }} </strong><hr>
                      </a>
                  </td>
                  {{ $lenPosts := postsLen .Posts}}
                  {{ $lastPost := findLastPost .Posts }}
                  {{ $dateLastPostCreated := "" }}
                  {{ if gt $lenPosts 0 }}
                    {{ $dateLastPostCreated = convertTime $lastPost }}
                  {{ end }}
                  
                  <td><!-- 2column -->From:<br><img src="{{ .PictureUserWhoCreatedLastPost }}" class="logo_ava" alt="picture"> <br>{{ .UserNameWhoCreatedLastPost }}<br> Posted: {{$dateLastPostCreated}}
                    {{ $lastPostShorten := shortenPost .Posts}}
                    <br><em>{{ $lastPostShorten}}</em></td>
                  {{ $numOfPosts := numberOfPosts .Posts }}
                  <td><!-- 3column -->{{ $numOfPosts}} messages</td>
              </tr>

            {{ end }}
        </tbody>
    </table>
  </div>
</div>
{{end}}
