{{define "body"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  
    <title>FanForgeForum</title>

</head>
<body>

{{$Lineage2 := "https://en.wikipedia.org/wiki/Lineage_II"}}

{{$Lineage3 := "https://en.wikipedia.org/wiki/Throne_and_Liberty"}}

{{$New_World := "https://en.wikipedia.org/wiki/New_World"}}

{{$AION := "https://en.wikipedia.org/wiki/Aion_(video_game)"}}

{{$Conan := "https://en.wikipedia.org/wiki/Conan_Exiles"}}

{{$WoW := "https://en.wikipedia.org/wiki/World_of_Warcraft"}}

{{$GW2 := "https://en.wikipedia.org/wiki/Guild_Wars_2"}}

  <nav id="navbarTop" class="navbar navbar-expand-lg navbar-dark navBar">
    <div class="container-fluid">
      <img src="static\logo\10.png" class="logo_img" alt="logo"><a class="navbar-brand" href="/">Fan.Forge.Forum.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Games
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href={{$Lineage2}}>L2</a></li>
              <li><a class="dropdown-item" href={{$Lineage3}}>L3</a></li>
              <li><a class="dropdown-item" href={{$New_World}}>New World</a></li>
              <li><a class="dropdown-item" href={{$AION}}>AION</a></li>
              <li><a class="dropdown-item" href={{$Conan}}>Conan</a></li>
              <li><a class="dropdown-item" href={{$WoW}}>WoW</a></li>
              <li><a class="dropdown-item" href={{$GW2}}>GW2</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" id="form-search" action="/home" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-outline-light btn-sm" type="submit">Search in Topics</button>
        </form>
        <div>
          {{$loggedAs := index .Data "loggedAs"}}
          {{$loggedAsID := index .Data "loggedAsID"}}  
          {{ if $loggedAs }}
          <a class="" href="/personal_cabinet?userID={{$loggedAsID}}">{{$loggedAs}}</a>
          <a class="btn btn-light login" href="/login">Logout</a>
          {{ else }}
          <a class="btn btn-light login" href="/login">Login</a>
          <a class="btn btn-light register" href="/registration">Register</a>
          {{ end }}
 
        </div>
      </div>
    </div>
  </nav>

    </head>
    <body>
     
        <div class="container custom-container">
        <table class="table-borderless forumTable whiteLink mt-3">
            <thead class="containerHead">
                <tr>
                    <th class="forumFirstCol" scope="col">Quick Links</th>
                </tr>
            </thead>
            <tbody class="containerBody">
                <tr>
                    <td>
                        <a class="whiteLink" href="rulles.html">Rulles </a>&nbsp; 
                        <a class="whiteLink" href="contact.html">Contact </a>&nbsp; 
                        <a class="whiteLink" href="support.html">Support</a>&nbsp; 
                        <a class="whiteLink" href="disscussion.html">Disscussion</a>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="whiteLink" href={{$Lineage2}}>Lineage2 </a>&nbsp; 
                        <a class="whiteLink" href={{$Lineage3}}>Lineage3 </a>&nbsp; 
                        <a class="whiteLink" href={{$New_World}}>New World </a>&nbsp; 
                        <a class="whiteLink" href={{$AION}}>AION</a>&nbsp;
                        <a class="whiteLink" href={{$Conan}}>Conan</a>&nbsp; 
                        <a class="whiteLink" href={{$WoW}}>WOW</a>&nbsp;
                        <a class="whiteLink" href={{$GW2}}>Guild Wars 2</a>&nbsp; 
                    </td>
                </tr>
            </tbody>
        </table>


        {{block "centralPart" .}}
        {{end}}
        <footer>
          <div class="row main-footer">
            <table>
              <thead>
                <tr>
                  <th><a href="/privat_policy">Privacy Policy</a></th>
                  <th><a href="/forum_rules">Forum Rules</a></th>
                  <th><a href="/contactUs">Contact Us</a></th>
                  <th><a href="/help">Help</a></th>
                </tr>
              </thead>
            </table>
          </div>
        </footer>
              
   
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
      </body>
    </html>
{{end}}