{{template "body" .}}

{{define "centralPart"}}
<div class="content">
    Moderator Main page
    <div class="navbar" id="navbarSupportedContent">
        <!-- Drop down manu -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <h2>Select Thread Category:</h2>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{$categories := index .Data "categories"}}
                    {{range $categories}}
                    {{$route := printf "/moder_panel?topic=%s" . }}
                    <li><a class="dropdown-item" href={{$route}}>{{ . }}</a></li>
                    {{end}}
                </ul>
            </li>
        </ul>
        <!-- ends -->
        {{$posts := index .Data "posts"}}
        {{$topics := index .Data "topics"}}
        {{if $topics}}
        <div>
            <tbody class="containerBody">
                {{ range $topics }}
                {{$topicCategory := .Classification}}
                {{$topicID := .ID}}
                <tr>
                    <td>

                        <br>Created by user with ID: {{ .UserID}}
                        <br>Topic created: {{convertTimeTopic . }}
                        <br>Category: {{ .Category}}
                        <br><strong>{{ .Subject }} </strong>


                    </td>
            <tbody class="containerBody">
                <tr>
                    <td>
                        <form method="post" action="">
                            {{range $index, $category := $categories}}
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio{{$index}}"
                                    autocomplete="off" value="{{$category}}" {{ if eq $category $topicCategory }}
                                    checked {{end}}>
                                <label class="btn btn-outline-primary" for="btnradio{{$index}}"> {{$category}} </label>
                                <input type="hidden" name="topicID" value="{{ $topicID }}">
                            </div>
                            {{end}}
                            <input type="submit" value="Submit">
                        </form>

                    </td>
                </tr>

            </tbody>
            <hr>
            </tr>
            {{ end }}
            </tbody>
        </div>
        {{ end }}
    </div>
</div>
{{end}}