{{template "body" .}}

{{define "centralPart"}}
{{$person := index .Data "personal"}}
{{$loggedID := index .Data "loggedAsID"}}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Type your message:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/send-pm">
                <div class="modal-body">
                    <textarea class="form-control" id="pm-text" name="pm-text"></textarea>
                    <input type="hidden" name="receiverID" value="{{$person.ID}}">
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-light">Send</button>

                </div>
            </form>

        </div>
    </div>
</div>
<!-- modal ends -->

<div class="content">

    <h2>User Profile</h2>
    <div class="container">
        <table class="table table-borderless whiteLink">
            <tbody>
                <tr>
                    <td colspan="2" class="text-center">
                        <img src="{{$person.Picture}}" alt="your_ava" class="ava_img">
                        <br>
                        <!-- Button trigger modal -->
                        {{if and (ne $loggedID $person.ID) (ne $loggedID 1)}}

                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" style="margin-top: 10px;">
                            ✍🏻 message
                        </button>
                        {{end}}


                    </td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{$person.UserName}}</td>
                </tr>
                {{if ne $person.UserName "guest"}}
                <tr>
                    <!-- to show type of user in personal cabinet -->
                    <th>Type of Account:</th>
                    <td>{{$person.Type}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{$person.Email}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{$person.FirstName}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{$person.LastName}}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{$person.Created}}</td>
                </tr>
                <tr>
                    <th>Total messages:</th>
                    {{$totalP := index .Data "totalPosts"}}
                    <td>{{$totalP}}</td>
                </tr>
                <tr>
                    <th></th>

                    <td>
                        <a href="/personal_cabinet_threads?userID={{$person.ID}}" class="btn btn-light">Get threads</a>
                        <a href="/personal_cabinet_posts?userID={{$person.ID}}" class="btn btn-light">Get posts</a>
                        <a href="/personal_cabinet_likes?userID={{$person.ID}}" class="btn btn-light">Get liked
                            posts</a>
                    </td>
                </tr>
                <tr>
                    <th></th>

                    <td>
                        {{if and (eq $loggedID $person.ID) (ne $loggedID 1)}}
                        <form action="/personal_cabinet_user_type?userID={{$person.ID}}" method="post">
                            <div class="mb-3">
                                <input class="form-control" type="password" name="changeUserType" id="changeUserType"
                                    placeholder="secret code" style="width: 10rem;">
                                <p><button type="submit" class="btn btn-light" style="margin-top: 10px;">Submit
                                        Code</button></p>
                            </div>
                        </form>
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    {{if eq $person.Type "moder"}}
                    <div class="mb-3">
                        <a class="btn btn-warning" href="/moder_panel" role="button">Open Moderator Panel</a>
                    </div>
                    {{end}}
                </tr>
                {{end}}
            </tbody>
        </table>
        <div>
            {{if and (eq $loggedID $person.ID) (ne $loggedID 1)}}
            <table class="table-borderless forumTable whiteLink mt-3">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Message</th>
                        <th scope="col">Remitent</th>
                        <th scope="col">Receiver</th>
                    </tr>
                </thead>
                <tbody>
                    {{$sortedPM := index .Data "sortedPMs"}}
                    {{range $sortedPM}}
                    <tr>
                        {{$convertedTime := convertTimePM . }}
                        <th scope="row"><hr>{{$convertedTime}}</th>
                        <td><hr>{{.Content}}</td>
                        <td><hr>{{.SenderName}}</td>
                        <td><hr>{{.ReceiverName}}</td>
                    </tr>

                    {{end}}
                </tbody>
            </table>
            {{end}}
        </div>
    </div>
</div>
</div>
{{end}}