{{template "body" .}}

{{define "centralPart"}}
    
    <h1>Privacy Policy</h1>

    <div class="content">
        <p>Your privacy is important to us. This Privacy Policy outlines how we collect, use, and protect your personal information when you use our services:</p>
        
        <h2>Information Collection and Use</h2>
        <p>We may collect personal information such as your name, email address, or phone number when you voluntarily provide it while using our services.</p>
        
        <h2>Use of Information</h2>
        <p>The information we collect may be used to:</p>
        <ul>
            <li>Provide and maintain our services.</li>
            <li>Communicate with you regarding our services.</li>
            <li>Improve our services and user experience.</li>
        </ul>
        
        <h2>Information Sharing</h2>
        <p>We do not sell, trade, or otherwise transfer your personal information to outside parties unless we provide you with advance notice or as required by law.</p>
        
        <h2>Security</h2>
        <p>We prioritize the security of your personal information and take appropriate measures to protect it from unauthorized access or disclosure.</p>
        
        <h2>Changes to This Privacy Policy</h2>
        <p>We reserve the right to update our Privacy Policy. Any revisions will be posted on this page.</p>
        
        <p>For more details on our Privacy Policy, please contact us at privacy@example.com.</p>
        
        <p>Thank you for trusting us with your information. Your privacy is our priority.</p>
    </div>
{{end}}
