{{template "body" .}}

{{define "centralPart"}}


        <div class="container">
            {{$res := index .Data "registrationData"}}
                
            <div class="col-md-6">
                <h1>Register</h1>
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="firstName" class="col-form-label">First Name:</label>
                        {{with .Form.Errors.Get "firstName"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "firstName"}} is-invalid {{end}}" name="firstName" value="{{$res.FirstName}}" id="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="col-form-label">Last Name:</label>
                        {{with .Form.Errors.Get "lastName"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "lastName"}} is-invalid {{end}}" name="lastName" value="{{$res.LastName}}" id="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="nickName" class="col-form-label">Nickname:</label>
                        {{with .Form.Errors.Get "nickName"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "nickName"}} is-invalid {{end}}" name="nickName" value="{{$res.UserName}}" id="nickName">
                    </div>
                    <div class="mb-3">
                        <label for="emailRegistr" class="col-form-label">@email:</label>
                        {{with .Form.Errors.Get "emailRegistr"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="email" class="form-control {{with .Form.Errors.Get "emailRegistr"}} is-invalid {{end}}" name="emailRegistr" value="{{$res.Email}}" id="emailRegistr">
                    </div>
                    <div class="mb-3">
                        <label for="passwordReg" class="col-form-label">password:</label>
                        {{with .Form.Errors.Get "passwordReg"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="password" class="form-control {{with .Form.Errors.Get "passwordReg"}} is-invalid {{end}}" name="passwordReg" value="{{$res.Password}}" id="passwordReg">
                    </div>
                    <div class="mb-3">
                        <label for="avatar" class="col-form-label">Avatar Picture: (Max 1 MB)</label>

          
                        <input type="file" class="form-control" name="avatar" id="avatar">
                    </div>
                    <button type="submit" class="btn btn-light">Register</button>
                </form>
            </div>
        </div>
    </div>
{{end}}
