{{template "body" .}}

{{define "style"}}
    <style>

    .logo_img{

      max-width: 3%;
      max-height: auto;
    }

    .ava_img{

      max-width: 50px;

      max-height: auto;
    }
    .navbar-brand{
      font-family: 'MedievalSharp', cursive;
      font-size: 3em;
    }
    .underTable{
      background-color: #232427;
    }
    #navbarTop {
      height: 6em;
    }

    .whiteLink{
      color: rgb(225, 225, 225);
    }
    .forumTable{
      width: 100%;
    }

    .forumFirstColTheme{

      width: 15%;
    }

    td {
        padding: 10px; /* Adjust the value as needed */
      }
      th {
        padding: 10px; /* Adjust the value as needed */
      }

    .custom-container{
      max-width: 1800px;
    }
    .containerHead {
      background-color: rgb(24, 22, 33)

    }
    .navBar{
      background-color: rgb(24, 22, 33)
    }
    .containerBody {
      background: linear-gradient(to bottom, rgb(36, 33, 49), rgb(24, 22, 33));
      margin-top: 0;
    }

    .main-footer {
      /* position: fixed; */
      bottom: 0;
      margin-left: 0;
      width: 100%;
      height: 5em;
        padding: 3em;
        background-color: rgb(2, 0, 7);
        margin-top: 2em;
        color: aliceblue;
      }

      #form-search{
        margin-right: 5em;
      }
      .login_and_register{
        color: aliceblue;
      }

      body{
        background-color: rgb(13, 11, 20);
      }
    </style>
    
{{end}}
{{define "centralPart"}}
<div class="container custom-container">
 
  <table class="table-borderless forumTable whiteLink mt-3">
    <thead class="containerHead">
      {{$postinfo := index .Data "posts"}}

      <tr >
{{/* info related to the main(mother)Thread */}}
        <th class="forumFirstColTheme" scope="col" colspan="2">
        {{index .Data "mainThreadName"}} <br>
        Created: {{index .Data "mainThreadCreatedTime"}}
        </th>

        <th></th>

      </tr>
    </thead>
    <tbody class="containerBody">
      {{$postinfo := index .Data "posts"}}
      {{ range $postinfo }}
      <tr>
        <td>
          <img src="{{ .PictureUserWhoCreatedThread}}" class="logo_img" alt="/static/logo/message_icon2.png"><strong>&nbsp;{{ .Subject }} </strong>

          <img src="{{ .PictureUserWhoCreatedPost}}" class="ava_img" alt="ava"><strong> &nbsp; {{ .UserNameWhoCreatedPost}} </strong><br>Date of Registration: ...... <br> Total Messages: ....
        </td>
        <td> 
        </td>
        <td> <em>...</em> 
          <br>
          <br>{{ .Content}}
          <br> Posted: {{ .Created}}
          <br>Like 0 👍&nbsp; &nbsp; Dislike 0 👎
        
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}