body {
    background-color: #1a1a1a;
    color: #ccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ccc;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #fff;
}

section {
    padding: 20px;
}

.latest-news {
    background-color: #222;
    padding: 15px;
    margin-bottom: 20px;
}

.ava_img {
    max-width: 100px;
    height: auto;
}

.theme-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.theme-list li {
    border-bottom: 1px solid #333;
    padding: 15px 0;
}

.theme-list a {
    color: #ccc;
    text-decoration: none;
}

.theme-list a:hover {
    color: #fff;
}

/* footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
} */

  .logo_img{
    max-width: 3%;
    max-height: auto;
  }

  .post_img{
    max-width: 40%;
    max-height: auto;
  }

  .logo_ava{
    max-width: 15%;
    max-height: auto;
  }

  .navbar-brand{
    font-family: 'MedievalSharp', cursive;
    font-size: 3em;
  }
  .underTable{
    background-color: #232427;
  }
  #navbarTop {
    height: 6em;
  }

  .whiteLink{
    color: rgb(225, 225, 225);
  }

  .forumTable{
    width: 100%;
  }

  .forumFirstCol{
    width: 70%;
  }

  .forumFirstColTheme{
    width: 15%;
  }

  td {
      padding: 10px; /* Adjust the value as needed */
    }
    th {
      padding: 10px; /* Adjust the value as needed */
    }

  .custom-container{
    max-width: 1800px;
  }
  .containerHead {
    background-color: rgb(24, 22, 33)

  }
  .navBar{
    background-color: rgb(24, 22, 33)
  }
  .containerBody {
    background: linear-gradient(to bottom, rgb(36, 33, 49), rgb(24, 22, 33));
    margin-top: 0;
  }

 footer {
    /* position: fixed; */
    bottom: 0;
    margin-left: 0;
    width: 100%;
    height: 5em;
    padding: 3em;
    background-color: rgb(2, 0, 7);
    margin-top: 2em;
    color: aliceblue;
  }

  #form-search{
    margin-right: 5em;
  }
  .login_and_register{
    color: aliceblue;
  }

  body{
    background-color: rgb(13, 11, 20);
  }

/* Normal state */
    a {
        color: rgb(212, 212, 212); /* Default color */
        text-decoration: none; /* Remove underline, adjust as needed */
    }

    /* Hover state */
    a:hover {
        color: rgb(255, 255, 255); /* Color on hover */
    }
    
    .modal-content {
      background-color: rgb(54, 50, 74);
  }

  .border-success {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
  }
