<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <header>
      <nav class="topnav">
        <img src="/assets/images/logo.png" alt="Logo" />
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main class="login-main">
      <div id="login-container">
        <h1>Login</h1>
        <form method="POST" action="/login" class="login">
          {{ if .Message }}
          <div class="error">{{ .Message }}</div>
          {{ end }}
          <div class="input-area">
            <label for="username">Username or Email:</label>
            <input type="text" id="username" name="username" required />
          </div>
          <div class="input-area">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div>
            <button type="submit" class="login-button">Login</button>
          </div>
          <div class="signup-link">
            <a href="/signup">Join with us</a>
          </div>
        </form>
        <div class="login-options">
          <a href="/auth/google">
            <button class="google-login">
              <img
                class="img"
                src="/assets/images/google.png"
                alt="google"
              /><span class="google-login-text">Login with Google</span>
            </button>
          </a>
          <a href="/auth/github">
            <button class="github-login">
              <img src="/assets/images/github.png" class="img" alt="github">
             <span class="github-login-text">Login with Github</span>
            </button>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
