<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  </head>

  <body>
    <header>
      <nav class="topnav">
        <img src="/assets/images/logo.png" alt="Logo" />
        <ul>
          <ul>
            <li><a href="/">Home</a></li>
            {{if .SessionValid}}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/me">Profile</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
            {{end}}
        </ul>
      </nav>
    </header>
    <main class="home">
      <div class="posts-container">
        <h2>Kategooria: {{.CurrentCategory.Name}}</h2>
        <div class="post-content">
          <h1 class="post-title">{{.CurrentPost.Title}}</h1>
          <p class="name">{{.CurrentPost.Username}}</p>
          <p>{{.CurrentPost.Content}}</p>
          <div class="ratings">
            <form
              id="rating-form"
              method="POST"
              action="/handle-rating?post_id={{.CurrentPost.Id}}">
              <button value="0" name="rating" class="dislike">
                {{if ne .CurrentPostDislikes 1}} {{.CurrentPostDislikes}}
                Dislikes {{else}} {{.CurrentPostDislikes}} Dislike {{end}}
              </button>
            </form>
            <form
              id="rating-form"
              method="POST"
              action="/handle-rating?post_id={{.CurrentPost.Id}}">
              <button value="1" name="rating" class="like">
                {{if ne .CurrentPostLikes 1}} {{.CurrentPostLikes}} Likes
                {{else}} {{.CurrentPostLikes}} Like {{end}}
              </button>
            </form>
            {{if .SessionValid}}
            <form
              id="reply-form"
              method="POST"
              action="/handle-reply?post_id={{.CurrentPost.Id}}">
              <button class="reply-button">Reply</button>
              <textarea
                class="reply-textarea"
                style="display: none"
                name="content" required></textarea>
              <input type="submit" class="submit-reply" style="display: none"/> 
            </form>
            {{else}}
            {{end}}
          </div>
          <p class="post-time">
            Created: {{.CurrentPost.Created.Format "15:04 January 2, 2006"}}
          </p>
        </div>
        <div class="post-separator"></div>
        <div class="reply-container">
          <div id="reply-form-box">

          </div>
          {{range .CurrentPostReplies}}
          <div class="post-reply">
            <p class="name">{{.Username}}</p>
            <p class="reply">{{.Content}}</p>
            <div class="ratings">
              <form
              id="reply-rating"
              method="POST"
              action="/handle-rating?rating_id={{.Id}}">
              <button value="0" name="rating" class="dislike">
                {{if ne .Dislikes 1}} {{.Dislikes}} Dislikes {{else}}
                {{.Dislikes}} Dislike {{end}}
              </button>
            </form>
            <form
            id="reply-rating"
            method="POST"
            action="/handle-rating?rating_id={{.Id}}">
            <button
            value="1"
            name="rating"
            class="like"
            action="/handle-rating?rating_id={{.Id}}">
            {{if ne .Likes 1}} {{.Likes}} Likes {{else}} {{.Likes}} Like
            {{end}}
          </button>
        </form>
      </div>
      <p class="time">{{.Created.Format "15:04 January 2, 2006"}}</p>
          </div>
          <span></span>
          {{end}}
        </div>
      </div>
      <div class="sidebar">
        <p>Categories:</p>
        <ul class="categories">
          {{range .Categories}}
          <li class="category">
            <span><a href="?category={{.Name_slug}}"> {{.Name}} </a> </span>
          </li>
          {{end}}
        </ul>
      </div>
    </main>
    <footer></footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var replyButtons = document.querySelectorAll(".reply-button");

        replyButtons.forEach(function (button) {
          button.addEventListener("click", function (e) {
            e.preventDefault();

            var reply_area = document.getElementById("reply-form-box");
            var textarea = this.nextElementSibling;
            var submitButton = textarea.nextElementSibling;
            if (
              textarea.style.display === "none" ||
              textarea.style.display === ""
            ) {
              textarea.style.display = "block";
              submitButton.style.display = "block";
            } else {
              textarea.style.display = "none";
              submitButton.style.display = "none";
            }
          });
        });
      });
    </script>
  </body>
</html>
